{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="text-center col-md-8 offset-md-2">
            <h1 class="font-parisienne custom-gold text-center">{% trans "Login" %}</h1>

            <p class="font-montserrat text-center custom-white">{% blocktrans %}Welcome back to the Wine O'Clock. To
                leave a review, please log in. If
                you
                have not created an account yet, then <a class="font-parisienne custom-gold link"
                    href="{{ signup_url }}">Sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-md-6 mt-3 mx-auto">
            <form class="user-form text-center login border border-2 border-warning rounded p-3" method="POST"
                action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="font-montserrat button btn custom-white right border border-2 border-warning rounded"
                    type="submit">{% trans "Login" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}