{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% load account socialaccount %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="text-center col-md-8 offset-md-2">
      <h1 class="font-parisienne custom-gold text-center">{% trans "Sign up" %}</h1>

      <p class="font-montserrat text-center custom-white">{% blocktrans %}Welcome to the Wine O'Clock. If
        you
        already have an account, then <a class="font-parisienne custom-gold link" href="{{ login_url }}">Log in</a>
        .{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-12 col-md-6 col-lg-4 mt-3 mx-auto">
      <form class="user-form text-center login border border-2 border-warning rounded p-3" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors | safe }}
        <input type="hidden" name="remember" value="true">
        <div>
          <div class="form-group">
            {{ form.username.errors | safe }}
            <label for="id_username">Username:</label>
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.email.errors | safe }}
            <label for="id_email">Email Address:</label>
            {{ form.email }}
          </div>
          <div class="form-group">
            {{ form.password1.errors | safe }}
            <label for="id_password1">Password:</label>
            {{ form.password1 }}
          </div>
          <div class="form-group">
            {{ form.password2.errors | safe }}
            <label for="id_password2">Repeat password:</label>
            {{ form.password2 }}
          </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="font-montserrat button btn custom-white right border border-2 border-warning rounded" type="submit">{% trans "Sign up" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}