<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wine O'Clock</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap"
    rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" aria-label="Main navigation">
      <div class="container-fluid">
        <a class="cellar-name font-parisienne custom-white navbar-brand" href="/" aria-label="Wine O'Clock Home">
          <img src="/static/images/logo.jpg" alt="Wine O'Clock Logo" class="logo d-inline-block align-text-top">
          Wine O'Clock
        </a>
        <button class="navbar-toggler navbar-toggler-sm" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="my-toggler navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="/" aria-label="Home page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/about/" aria-label="About page">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/gallery/" aria-label="Gallery page">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/reviews" aria-label="Reviews page">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/blog/" aria-label="Blog page">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/contact/" aria-label="Contact page">Contact</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/accounts/signup/" aria-label="Register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/accounts/login/" aria-label="Login">Login</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <p class="font-montserrat custom-gold opacity-50 text-end m-3">You are not logged in</p>

  </header>
  <main class="container mx-auto mb-4" aria-label="Main content">

    <div class="container">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <h1 class="font-parisienne custom-gold text-center">Sign Up</h1>

          <p class="font-montserrat text-center custom-white">

            Welcome back to the Wine O'Clock.
            Already have an account? Then please
            <a class="font-parisienne custom-gold link" href="/accounts/login/">Log in</a>
            instead.
          </p>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="text-center col-12 col-md-6 mt-3 mx-auto">
          <form class="user-form form signup p-3" id="signup_form" method="post" action="/accounts/signup/">
            <input type="hidden" name="csrfmiddlewaretoken"
              value="kxMKTGgdk32BDbcpHhjV5OuexxGNgebUABT5FfAAWqhq7DX7QMbbsyOm12dKpfkS">
            <p>
              <label for="id_username">Username:</label>
              <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="1"
                maxlength="150" required id="id_username">
            </p>


            <p>
              <label for="id_email">Email:</label>
              <input type="email" name="email" placeholder="Email address (optional)" autocomplete="email"
                maxlength="320" id="id_email">
            </p>


            <div>
              <label for="id_password1">Password:</label>
              <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required
                id="id_password1">

              <div class="helptext">
                <ul>
                  <li class="text-decoration-none">Your password can’t be too similar to your other personal
                    information.</li>
                  <li class="text-decoration-none">Your password must contain at least 8 characters.</li>
                  <li class="text-decoration-none">Your password can’t be a commonly used password.</li>
                  <li class="text-decoration-none">Your password can’t be entirely numeric.</li>
                </ul>
              </div>
            </div>


            <p>
              <label for="id_password2">Password (again):</label>
              <input type="password" name="password2" placeholder="Password (again)" autocomplete="new-password"
                required id="id_password2">
            </p>

            <button class="button btn custom-white btn right" type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>


  </main>
  <footer class="sticky-bottom py-2" aria-label="Footer">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-4">
          <div class="text-md-start">
            <p class="text-center custom-gold font-montserrat mb-0">&copy; 2024 <a href="/"
                class="footer-text font-parisienne custom-white text-decoration-none"
                aria-label="Wine O'Clock Home">Wine O'Clock</a> Copyright</p>
          </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <div class="text-center">
            <a class="font-montserrat custom-gold mb-0" href="/contact/" aria-label="Contact Us Page">Click
              here to <span class="footer-text font-parisienne custom-white">Contact Us</span></a>
            <div class="opening-hours font-montserrat custom-white mb-0">
              <span class="custom-gold">Opening Hours:</span><br>
              Monday - Sunday: 9 AM - 9 PM <br>
              <span class="custom-gold">Address:</span><br>
              33486 Listrac-Médoc, France
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <div class="text-md-end">
            <p class="font-montserrat text-center custom-gold mb-0">Created by <span
                class="footer-text font-parisienne custom-white">Viola Bergere</span>
              <a href="https://github.com/violaberg" target="_blank" class="custom-gold ms-2 text-decoration-none"
                aria-label="Viola Bergere's GitHub"><i class="fa-brands fa-github"></i>
              </a>
              <a href="https://linkedin.com/in/viola-bergere-5a668699" target="_blank"
                class="custom-gold ms-2 text-decoration-none" aria-label="Viola Bergere's LinkedIn"><i
                  class="fa-brands fa-linkedin"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/284fde1047.js" crossorigin="anonymous"></script>


</body>

</html>