asgiref==3.8.1
bleach==6.2.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
cloudinary==1.44.0
crispy-bootstrap4==2024.1
cryptography==44.0.2
defusedxml==0.7.1
dj3-cloudinary-storage==0.0.6
Django==4.2.10
django-allauth==0.57.2
django-crispy-forms==2.2
django-summernote==0.8.20.0
dotenv==0.9.9
idna==3.10
oauthlib==3.2.2
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-dotenv==1.1.0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
webencodings==0.5.1
whitenoise==6.6.0
