{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center position-realtive">
                <img src="{% static images/vineyard.jpg %}" class="img-fluid" alt="Vineyard in sunset">
            </div>
        </div>
    </div>
    <div class="container">
        <header class="text-center mt-5">
            <h1 class="font-parisienne custom-white custom-header">About Us</h1>
        </header>
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <p class="p-montserrat">
                    Welcome to Wine O'Clock - your cellar for all things wine!
        Nestled in the heart of Bordeaux, France, Wine O'Clock Cellar stands as a testament to the enduring legacy of our family. Founded in the early 20th century, Wine O'Clock Cellar began as a modest family-run business with a vision to craft exceptional wines that would capture the essence of Bordeaux's rich terroir. Family's dedication to this craft and unwavering commitment to quality quickly earned the cellar a reputation for producing wines that transcended the ordinary. As the years unfolded, the family's love for winemaking passed through generations, with each heir contributing a unique touch to the art of viniculture, attracting enthusiasts from around the globe.<br>
        At Wine O'Clock, we believe that the enjoyment of fine wine should be an accessible and delightful experience for everyone, whether you're a seasoned sommelier or just beginning to explore the world of wine. Our mission is to make wine appreciation a journey of discovery, education, and joy. We provide a place where you can explore different wine varieties, learn about tasting notes or simply have a great time. When you book a tour you will discover carefully curated collections of wines to suit every occasion and palate, and if you like connect with fellow wine enthusiasts, share your favorite discoveries, and learn from the experiences of others. Embark on a journey through the vineyards of Bordeaux and savor the history, love, and craftsmanship that define Wine O'Clock Cellar — where every bottle tells a story and every sip is an invitation to celebrate life. Cheers to the finer moments in life!
                </p>
            </div>
        </div>
    </div>
</body>
{% endblock content %}