{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <!--Image on the left-->
        <div class="col-md-6">
            <img src="{% static '../../../static/images/book-a-cellar-tour.jpeg' %}" class="img-fluid" alt="Wine pouring in glass sitting on wooden table in sunshine">
        </div>
        <!--Form on the right-->
        <div class="col-md-6">
            <h1 class="font-parisienne custom-white text-center mb-4">Book a Tour</h1>
            <p class="p-montserrat">
                Embark on a journey through the heart of our wine sanctuary with our exclusive cellar tour experience, immerse yourself in the rich history of our vineyards, witness the meticulous craftsmanship behind each bottle, and indulge in the captivating stories that make each sip extraordinary. Our knowledgeable guides will lead you through the hidden gems of our cellar, unveiling the artistry and passion that goes into crafting our exceptional wines. Whether you're a wine enthusiast or a casual connoisseur, a wine cellar tour with us promises an unforgettable blend of education, taste, and ambiance. Book your tour now and elevate your wine experience to new heights!
            </p>
            <!--Book a Tour form-->
            <form method="post" action="{% url 'book_a_tour' %}">
                {% csrf_token %}
                <!--Date & Time-->
                <div class="form-group">
                    <label class="label-fixed-width" for="tour_date">Date & Time:</label>
                    <input type="datetime-local" id="tour_date" name="tour_date" class="mb-3" required>
                </div>

                <!-- Number of Guests -->
                <div class="form-group">
                    <label class="label-fixed-width" for="num_guests">Nr of Guests:</label>
                    <input type="number" id="num_guests" name="num_guests" class="mb-3" required>
                </div>

                <!-- Name -->
                <div class="form-group">
                    <label class="label-fixed-width" for="name">Name:</label>
                    <input type="text" id="name" name="name" class="mb-3" required>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label class="label-fixed-width" for="email">Email:</label>
                    <input type="email" id="email" name="email" class="mb-3" required>
                </div>

                <!-- Phone Number -->
                <div class="form-group">
                    <label class="label-fixed-width" for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone" required>
                </div>

                <!-- Book a Tour button -->
                <button type="submit" class="button book-a-tour-btn btn custom-white">Book a Tour</button>
            </form>
        </div>
    </div>
    <!--Reviews-->
    <div class="mt-5">
        <h3 class="font-montserrat custom-white text-center mt-4">Customer Reviews</h3>
        <!--Display Existing Reviews-->
        {% for review in reviews %}
            <div class="review">
                <p>{{ review.text }}</p>
                {% if review.image %}
                    <img src="{{ review.image.url }}" alt="Review Image">
                {% endif %}
            </div>
        {% endfor %}
    
        <!--Review Form-->
        <form method="post" action="{% url 'book_a_tour' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button type="submit" class="button btn custom-white">Submit Review</button>
        </form>
    </div>
</div>
{% endblock content %}