{% extends "base.html" %}
{% load static %}
    {% block content %}
    <div class="contact-container flex items-center">
        <div class="w-1/2" id="map">
            <!--Map goes here/left side-->
            <gmp-map center="45.061724,-0.887769" zoom="14" map-id="DEMO_MAP_ID">
                <gmp-advanced-marker position="45.061724,-0.887769" title="My location"></gmp-advanced-marker>
            </gmp-map>
        </div>
        <div class="w-1/2 p-4">
            <!--Form goes here/right side-->
            <form class="form" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="mb-4">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="mb-4">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="mb-4">
                    {{ form.message.label_tag }}
                    {{ form.message }}
                </div>
                <button type="button" class="button form-button btn custom-white">Send</button>
            </form>
        </div>
    </div>
    {% endblock content %}