{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <p class="p-montserrat gallery-text text-center">Feel free to look through our gallery with images uploaded by staff member to get a better feel of this fabulous place!</p>
</div>
<div class="container">
  <div class="row">
    {% for image in gallery_images %}
    lkjhdsf
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="gallery-image">
        <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.description }}">
        <p class="p-montserrat text-center">{{ image.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}