{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h2 class="mb-4">Login</h2>
    <div class="row">
        <div class="col-md-6">
            <!--Login Form-->
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Login</button>
            </form>
        </div>
        <div class="col-md-6">
            <!--Login Success Modal-->
            <div class="modal fade" id="loginSuccessModal" tabindex="-1" role="dialog" aria-labelledby="loginSuccessModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!--Modal content goes here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}