{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="custom-header text-center mb-4">Password Reset</h1>

            <!-- Password Reset Form -->
            <form method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Reset Password</button>
            </form>
        </div>
    </div>

    <!-- Password Reset Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal content goes here -->
            </div>
        </div>
    </div>

    <!-- Password Reset Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal content goes here -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}