{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Reviews-->
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="font-parisienne custom-gold text-center">Customer Reviews</h1>
      <!--Display Existing Reviews-->
      <div class="row">
        {% for review in page_obj %}
        <div class="col-md-6 col-lg-4">
          <div class="user-review bg-black border border-2 border-warning rounded my-3">
            {% if review.image %}
            <img class="img-fluid border-0 rounded-top scale" src="{{ review.image.url }}" alt="Customer Review Image">
            {% endif %}
            <p class="font-montserrat custom-gold">by {{ review.author }}</p>
            <span class="font-montserrat custom-gold opacity-75">
              {{ review.timestamp }}
            </span>
            <div class="font-montserrat custom-white p-2" id="review{{ review.id }}">
              {{ review.body }}
            </div>
            {% if user.is_authenticated and review.author == user %}
            <button class="button btn custom-white review-btn-edit border border-2 border-warning rounded"
              data-review_id="{{ review.id }}" aria-label="Edit button for review">Edit</button>
            <button class="button btn custom-white review-btn-delete border border-2 border-warning rounded"
              data-review_id="{{ review.id }}" aria-label="Delete button for review">Delete</button>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Pagination -->
      <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-btn page-item">
                <a class="button custom-gold bg-black border border-2 page-link"
                  href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
              <li class="page-btn page-item active"><span
                  class="button custom-gold bg-black border border-2 page-link">{{ num }}</span></li>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li class="page-btn page-item px-2">
                <a class="button custom-gold bg-black border border-2 page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-btn page-item">
                <a class="button custom-gold bg-black border border-2 page-link"
                  href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>

      <hr class="custom-white">
      <!--Form for new reviews-->
      <h2 class="font-parisienne review-heading custom-gold mt-4">Leave a review</h2>
      <p class="font-montserrat custom-white">Writing as: <span
          class="user font-parisienne custom-gold">{{ user.username }}</span></p>
      <div class="new-review border border-2 border-warning rounded col-12 col-md-10 col-lg-8 col-xl-6 mx-auto p-2">
        {% if user.is_authenticated %}
        <form id="reviewForm" method="post" action="{% url 'reviews' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="review-btn button btn custom-white border border-2 border-warning rounded"
            id="submitReviewButton" aria-label="Submit button for review form">Submit Review</button>
        </form>
        {% else %}
        <p class="font-montserrat custom-gold">Please <a class="review-link font-parisienne custom-white"
            href="{% url 'account_login' %}">Log
            In</a> to leave a review</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Delete review confirmation modal -->
<div class="modal fade" id="deleteReviewModal" tabindex="-1" aria-labelledby="deleteReviewModalLabel"
  aria-hidden="true">
  <div class="modal-dialog bg-black">
    <div class="text-center modal-content border border-2 border-warning rounded">
      <div class="modal-header">
        <h5 class="custom-white text-center modal-title" id="deleteReviewModalLabel">Delete review?</h5>
        <button type="button" class="close custom-white bg-black pb-4 btn-close" data-bs-dismiss="modal"
          aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your review?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="button custom-white btn border border-2 border-warning rounded"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteReviewConfirm" href="#"
          class="delete-review button btn custom-white border border-2 border-warning rounded">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}