{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Image on the left side -->
            <img src="../../../static/images/signup.jpg" alt="A bottle and a glass of red wine placed on wine barrel" class="img-fluid">
        </div>
        <div class="col-md-6 text-center">
            <h2 class="font-montserrat custom-white mb-4">Sign Up</h2>
            <!-- Sign Up Form -->
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button btn custom-white">Login</button>
                <p class="p-montserrat">Already registered?<a class="font-montserrat custom-gold" href="{% url 'login' %}">Please Login!</a>
                </p>
            </form>
        </div>
        <div class="col-md-6">
            <!-- Sign Up Success Modal -->
            <div class="modal fade" id="signupSuccessModal" tabindex="-1" role="dialog" aria-labelledby="signupSuccessModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- Modal content goes here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}