{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="masthead" aria-labelledby="postTitle">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <!-- Post title  -->
        <h1 id="postTitle" class="font-parisienne custom-gold text-center post-title">{{ post.title }}</h1>
        <!-- Post author & created date -->
        <p class="font-montserrat custom-gold text-center post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        {% if "placeholder" in post.featured_image.url %}
        <img class="card-img-top border border-2 border-warning rounded" src="{% static 'images/default.jpg' %}"
          alt="Placeholder image">
        {% else %}
        <img class="card-img-top border border-2 border-warning rounded" src="{{ post.featured_image.url }}"
          alt="{{ post.title }}">
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col card bg-black border border-2 border-warning rounded mb-4 mt-3 pt-3 left top">
      <div class="font-montserrat custom-white p-0 card-body">
        <!-- The post content goes inside the card-text. -->
        <div class="card-text">
          {{ post.content | safe }}
        </div>
      </div>
    </div>
  </div>
  <!-- Display count of comments -->
  <div class="font-montserrat row" aria-labelledby="commentsCount">
    <div class="col-12">
      <strong id="commentsCount" class="custom-gold">
        <i class="far fa-comments custom-gold"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr class="custom-white">
    </div>
  </div>
  <!-- Display Comments -->
  <div class="row">
    <div class="col-md-8 card bg-black border border-2 border-warning rounded mb-4 mt-3">
      <h1 class="font-parisienne custom-gold text-center p-2">Comments</h1>
      <div class="font-montserrat custom-white text-center p-0 card-body">
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}" aria-labelledby="comment{{ comment.id }}">
          <p class="custom-gold font-montserrat">
            {{ comment.author }}
            <span>
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div class="custom-white" id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="font-montserrat custom-gold approval">
            ***This comment is awaiting approval***
          </p>
          {% endif %}
          {% if user.is_authenticated and comment.author == user %}
          <button class="button custom-white btn btn-edit border border-2 border-warning rounded"
            data-comment_id="{{ comment.id }}" aria-label="Edit comment">Edit</button>
          <button class="delete-comment button custom-white btn btn-delete border border-2 border-warning rounded"
            data-comment_id="{{ comment.id }}" aria-label="Delete comment">Delete</button>
          {% endif %}
          <hr class="custom-white">
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Creating New Comments -->
    <div class="font-montserrat col-md-4 card bg-black border border-2 border-warning rounded mb-4 mt-3">
      <div class="text-center card-body">
        {% if user.is_authenticated %}
        <h1 class="font-parisienne custom-gold">Leave a comment</h1>
        <p class="font-montserrat">Posting as: <span class="font-parisienne lead custom-gold">{{ user.username }}</span></p>
        <form id="commentForm" method="post" style="margin-top: 1.3em;" aria-label="leaveComment">
          {% csrf_token %}
          <div class="form-group">
            {{ comment_form.as_p }}
          </div>
          <button id="submitButton" type="submit"
            class="button custom-white btn btn-lg border border-2 border-warning rounded"
            aria-label="Submit comment">Submit</button>
        </form>
        {% else %}
        <p class="font-montserrat text-center custom-gold">Please <a class="custom-gold fw-bold"
            href="{% url 'account_login' %}" aria-label="Log in to leave a comment">log in</a> to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col">
      <a class="button btn custom-white btn-lg border border-2 border-warning rounded" href="{% url 'blog' %}"
        aria-label="Back to blog">Back to blog</a>
    </div>
  </div>
</div>

<!-- Delete comment confirmation modal -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="text-center modal-content">
      <div class="modal-header">
        <h5 class="custom-white text-center modal-title" id="deleteCommentModalLabel">Delete comment?</h5>
        <button type="button" class="close custom-gold pb-4 btn-close" data-bs-dismiss="modal"
          aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="button custom-white btn" data-bs-dismiss="modal"
          aria-label="Close delete comment modal">Close</button>
        <a id="deleteCommentConfirm" href="#" class="delete-comment button btn custom-white"
          aria-label="Confirm delete comment">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}