{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title  -->
                <h1 class="font-parisienne text-center custom-gold post-title">{{ post.title }}</h1>
                <!-- Post author & created date -->
                <p class="font-montserrat text-center custom-maroon post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/blog-post.jpg' %}" class="scale" alt="A bottle and a glass of red wine sitting on a barrel">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="p-montserrat text-center p-0 card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
    <!-- Display count of comments -->
  <div class="font-montserrat row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="custom-maroon far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr class="custom-white">
    </div>
  </div>
  <!-- Display Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3 class="font-parisienne custom-gold text-center p-2" >Comments</h3>
      <div class="p-montserrat text-center p-0 card-body">
        <!-- A for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-montserrat custom-maroon">
            {{ comment.author }}
            <span>
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="font-montserrat custom-maroon approval">
            This comment is awaiting approval
          </p>
          {% endif %}
        </div>
        <!-- for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="font-montserrat col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3 class="font-parisienne custom-gold text-center">Leave a comment</h3>
          <p class="font-montserrat custom-maroon text-center">Posting as: {{ user.username }}</p>
          <form id="commentForm" method="post"
            style="margin-top: 1.3em;">
            {{ comment_form }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="button custom-white btn btn-signup btn-lg">Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a comment</p>
          {% endif %}
        </div>
      </div>
  </div>
</div>

{% endblock content %}