{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- post_list.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="post col-md-4" aria-labelledby="postTitle{{ forloop.counter }}">
                    <div class="card bg-black">
                        <div class="card-body border border-2 border-warning rounded">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top border border-2 border-warning rounded"
                                    src="{% static 'images/default.jpg' %}" alt="Placeholder image">
                                {% else %}
                                <img class="card-img-top border border-2 border-warning rounded"
                                    src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p
                                        class="font-montserrat custom-gold author border border-1 border-warning rounded">
                                        Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link"
                                aria-labelledby="postTitle{{ forloop.counter }}">
                                <h2 id="postTitle{{ forloop.counter }}" class="custom-gold text-center card-title">
                                    {{ post.title }}</h2>
                                <p class="font-montserrat text-center custom-white card-text">{{ post.excerpt }}</p>
                            </a>

                            <hr class="custom-white">
                            <p class="custom-gold opacity-75 card-text h6">{{ post.created_on }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav class="text-center" aria-label="Page navigation">
        <ul class="list-unstyled page-btn justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="button custom-white btn border border-2 border-warning rounded"
                    aria-label="Previous page">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"
                    class="button custom-white btn border border-2 border-warning rounded" aria-label="Next page"> NEXT
                    &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- post_list.html content ends here -->
{% endblock %}