<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bundle.css' %}">
    <title>Wine O'Clock</title>
</head>
<body>
    <header>
        <div class="container mx-auto">
            <h1 class="text-3xl font-bold">Wine O'Clock</h1>
        </div>
    </header>
    <main class="container mx-auto my-8">
        <!--Content goes here-->>
    </main>
    <footer>
        <div class="container mx-auto">
            <p>&copy; 2024 Wine O'Clock</p>
        </div>
    </footer>
    
</body>
</html>