{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <img class="hero-img h-auto max-w-full rounded-lg shadow-xl dark:shadow-gray-800" src="../static/images/hero-img.jpg" alt="Wine bottles with classes presented in a wine cellar">
    <div class="flex justify-center">
    <button type="button" class="button hover:bg-maroon font-montserrat focus:ring-4 focus:outline-none font-medium rounded-lg text-2xl px-4 py-2 text-center">Book a Tour</button>
</div>
</div>
<div>
    <blockquote class="text-3xl font-parisienne">
        "Wine is one of the most civilized things in the world and one of the most natural things of the world that has been brought to the greatest perfection, and it offers a greater range for enjoyment and appreciation than, possibly, any other purely sensory thing." — Ernest Hemingway
    </blockquote>
</div>
{% endblock content %}