{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="h-100 mx-auto m-3 py-3">
    <div class="row text-center py-2">
        <div class="col-md-10 col-sm-12 col-xl-10 mx-auto">
            <h1 class="font-montserrat text-center custom-white pt-2">Oops! Have you lost your way?</h1>
            <p class="font-montserrat text-center custom-white px-3">You don't have permission to access this page.
                Let's get you
                back to safety!</p>
            <a href="{% url 'home' %}" class="button secondary-btn btn custom-white mt-3 p-2"
                aria-label="Brings back to Home Page">Back to
                Home
                page</a>
        </div>
    </div>
</div>
{% endblock %}